/* Global Styles */
* {
	box-sizing: border-box;
}

body, p {
    font-family: 'Barlow', sans-serif;
    /*font-family: 'Oswald', sans-serif;*/
	/*line-height: 1.0;*/
	/*color: #3a3a3a;*/
	margin: 0;

}

/******* header *******/
#header{
	display: inline-block;
	height: 50px;
	line-height: 50px;
}

#name{
	font-size: 20px;
	font-weight: bold;
	/*text-align: left;*/
}

#quip{
	font-size: 18px;
}

/******* background *******/
.container{
	height: 100%;
	background: -webkit-linear-gradient(#1b0a0e, #6e5863, #1b0a0e);
	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#1b0a0e, #6e5863, #1b0a0e);
	/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#1b0a0e, #6e5863, #1b0a0e);
	/* For Firefox 3.6 to 15 */
	background: linear-gradient(#1b0a0e, #6e5863, #1b0a0e);
	/* Standard syntax (must be last) */

}

/******* intro *******/
#intro{
	display: inline-block;
	margin: 0;
}

/*.row{
	display: inline-block;
}*/

#profile-img img{
	height: auto;
	width: 300px;
	border: 3px solid #8ab0d3;
	margin: 20px;

}

#about{
	margin: 0;
	height: 25px;
	width: 360px;

	background: -webkit-linear-gradient(#b2b1b5, #898793, #b2b1b5);
	background: -o-linear-gradient(#b2b1b5, #898793, #b2b1b5);
	background: -moz-linear-gradient(#b2b1b5, #898793, #b2b1b5);
	background: linear-gradient(#b2b1b5, #898793, #b2b1b5);

}

#intro-card{
	height: auto;
	width: 360px;
	display:inline-block;
    vertical-align: top;
	padding: 10px;
}

/**** gradient colors ****/
.card-background{
	background: -webkit-linear-gradient(-90deg, #dbccda, #fefefe);
	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(-90deg, #dbccda, #fefefe);
	/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(-90deg, #dbccda, #fefefe);
	/* For Firefox 3.6 to 15 */
	background: linear-gradient(-90deg, #dbccda, #fefefe);
	/* Standard syntax (must be last) */
}

.card-header-background{
	height: 25px;
	width: 420px;
	background: -webkit-linear-gradient(#b2b1b5, #898793, #b2b1b5);
	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#b2b1b5, #898793, #b2b1b5);
	/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#b2b1b5, #898793, #b2b1b5);
	/* For Firefox 3.6 to 15 */
	background: linear-gradient(#b2b1b5, #898793, #b2b1b5);
	/* Standard syntax (must be last) */
}

/******* work-card *******/
.work-card{

}

/*#work-1{}*/


.work-button{

}

/******* footer *******/
#footer{

}

#social-media{

}
