<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Compiled and minified CSS -->
    {% load static %}
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"> -->
    <link rel="stylesheet" href="{% static style.css %}">

    <!-- Compiled and minified JavaScript -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script> -->
    <title>Sorting Hat Django</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col m12">
                <h3>Sorting Hat</h3>
                <form action="/sort" method="POST">
                    {% csrf_token %}
                    <input type="text" name="name">
                    <input type="submit" value="Sort" class="btn">
                </form>
            </div>
            <hr>
        </div>
        <div class="row">
            <div>
                <h4>Red House</h4>
                {% for student in red %}
                    <p>{{student.name}}</p>
                {% empty %}
                    <p style="font-style: italic;">Nobody here!</p>	
                {% endfor %}
            </div>
            <div>
                <h4>Blue House</h4>
                {% for student in blue %}
                    <p>{{student.name}}</p>
                {% empty %}
                    <p style="font-style: italic;">Nobody here!</p>	
                {% endfor %}
            </div>
            <div>
                <h4>Green House</h4>
                {% for student in green %}
                    <p>{{student.name}}</p>
                {% empty %}
                    <p style="font-style: italic;">Nobody here!</p>	
                {% endfor %}
            </div>
            <div>
                <h4>Purple House</h4>
                {% for student in purple %}
                    <p>{{student.name}}</p>
                {% empty %}
                    <p style="font-style: italic;">Nobody here!</p>	
                {% endfor %}
            </div>
            
        </div>
        <!-- last card ends -->
        <div class="row">
                <div class="col m12">
                    <a href="/reset" class="waves-effect waves-light btn">Reset</a>
                </div>
            </div>
    </div>
</body>
</html>