/* Global Styles */
body *{
	font-family: 'Barlow', sans-serif;
	padding:0px;
	margin:0px;
}

.container {
	width:960px;
	height:1000px;

	background: -webkit-radial-gradient(#6f5964, #1f0f13);
	/* Safari 5.1- 6.0 */
	background: -o-radial-gradient(#6f5964, #1f0f13);
	/* Opera 11.6-12.0 */
	background: -moz-radial-gradient(#6f5964, #1f0f13);
	/* Firefox 3.6-15 */
	background: radial-gradient(#6f5964, #1f0f13);
	/* Standard syntax */
}

/******* header *******/
#header {
	width:938px;
	height:30px;
	padding:15px;
}

#header h2{
	display:inline-block;
	margin-right: 540px;
}

#header h3 {
	display:inline-block;
}

/**** gradient colors ****/
.card-background{
	background: -webkit-linear-gradient(-90deg, #dbccda, #fefefe);
	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(-90deg, #dbccda, #fefefe);
	/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(-90deg, #dbccda, #fefefe);
	/* For Firefox 3.6 to 15 */
	background: linear-gradient(-90deg, #dbccda, #fefefe);
	/* Standard syntax (must be last) */
}

/******* First row aka intro *******/
.intro{
	padding:20px 20px;
	width:930px;
	height:870px;

}

.intro img{
	margin-bottom: 20px;
	width:410px;
	height:auto;
	border: 5px solid #7d7377;
}

.intro #about{
	width: 500px;
	height:280px;
	background: -webkit-linear-gradient(to bottom right, #fefefe, #dbcbda);
	background: -o-linear-gradient(to bottom right, #fefefe, #dbcbda);
	background: -moz-linear-gradient(to bottom right, #fefefe, #dbcbda);
	display:inline-block;
	vertical-align: top;
}

.intro #about h2 {
	color: white;
	padding: 5px 10px;
	background: -webkit-linear-gradient(#bdbdbf, #888694, #bdbdbf);
	background: -o-linear-gradient(#bdbdbf, #888694, #bdbdbf);
	background: -moz-linear-gradient(#bdbdbf, #888694, #bdbdbf);
	background: linear-gradient(#bdbdbf, #888694, #bdbdbf);
}

.intro p {
	margin-bottom: 15px;
	padding-left: 10px;
}

.intro a{
	padding-left: 10px;
}

.intro #last-project {
	width:295px;
	height: 570px;
	display : inline-block;
	background-color: lightgray;
	vertical-align: top;
	background: -webkit-linear-gradient(to bottom right, #fefefe, #dbcbda);
	background: -o-linear-gradient(to bottom right, #fefefe, #dbcbda);
	background: -moz-linear-gradient(to bottom right, #fefefe, #dbcbda);
	background: linear-gradient(to bottom right, #fefefe, #dbcbda);
}

.intro .project-card {
	margin-right:15px;
}

/******* projects *******/

.project-img{
	width: 290px;
	border:none;
	margin:0;
}
.project-card h2 {
	width: 270px;
	padding: 5px 10px;
	color: white;
	background: -webkit-linear-gradient(#bdbdbf, #888694, #bdbdbf);
	background: -o-linear-gradient(#bdbdbf, #888694, #bdbdbf);
	background: -moz-linear-gradient(#bdbdbf, #888694, #bdbdbf);
	background: linear-gradient(#bdbdbf, #888694, #bdbdbf);
}

.project-card p{
	width: 278;
}

.project-card button {
	color:white;
	background-color: green;

	border-radius: 3px;
	border:solid 1px black;

	padding:5px;
	margin: 10px 100px;
	font-weight: 900;
}

/******* Tech Icons *******/
.tech_icons ul li img{
	padding:15px 0px 0px 12px;
	display: inline-block;
}

.tech_icons img{
	display: inline-block;
	margin-right:10px;
}

.tech_icons img{
	width:25%;
	height:25%;
}

/******* footer *******/
#footer{
	width:968px;
	height:50px;
	padding: 10px 0;
}

#footer p{
	margin:auto;
	width: 240px;
}

#footer ul{
	width: 380px;
	margin:auto;
}

#footer ul li{
	display:inline-block;
}

#footer img{
	width: 25px;
	height:auto;
	margin:auto;
}

#footer, #header{
	background-color: #f9f9f9
}
