<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gaurdian Knot</title>
</head>
<body>
    {{ session ['data']}}
    {{ context }}

    <div>
        <div>
            <h4>Thunder Bird</h4>
            <ul>
                {% for res in context %}
                    <li>{{ res.student }} {{ res.house }}</li>
                {% endfor %}
                <li>Bob Ross</li>
                <li>Bob Ross</li>
                <li>Bob Ross</li>
            </ul>
        </div>
        <h4>Wampus</h4>
        <ul>
            <li>Bob Ross</li>
            <li>Bob Ross</li>
            <li>Bob Ross</li>
            <li>Bob Ross</li>
        </ul>
        <h4>Horned Serpent</h4>
        <ul>
            <li>Bob Ross</li>
            <li>Bob Ross</li>
            <li>Bob Ross</li>
            <li>Bob Ross</li>
        </ul>
        <h4>Pukwedgie</h4>
        <ul>
            <li>Bob Ross</li>
            <li>Bob Ross</li>
            <li>Bob Ross</li>
            <li>Bob Ross</li>
        </ul>
    </div>
</body>
</html>