.get-money{
    background-color: lightgray !important;
    color: green;
}

.lose-money{
    background-color: darkgray !important;
    color:red;
}

span {
    display: flex;
    align-self: flex-end;
}