/*---- main stylesheet ----*/

#wrapper{
    text-align: center;
}

#title{
    text-align: center;
}

#title-2{
    text-decoration: underline;
}

.border{
    border: 3px solid #000;
    margin: auto;
    width: 70%;
}