{% extends 'houses/base.html' %}
{% block content %}

<main>
    <h1>Registration Page</h1>
    
    <span>{{num}}</span>
    <form action="/students" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="Submit" value="Submit">
    </form>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</main>

{% endblock %}