<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sports ORM 3</title>
</head>
<body>
    <h1>Level 1 Queries</h1>
    <h2>Baseball Leagues</h2>
    <ol>
        {% for league in baseball %}
            <li>{{league.name}}</li>
        {% empty %}
            <p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
        {% endfor %}
    </ol>
    <h2>Women's Leagues</h2>
    <ol>
        {% for league in women %}
            <li>{{league.name}}</li>
        {% empty %}
            <p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
        {% endfor %}
    </ol>
    <h2>Hockey Leagues</h2>
    <ol>
        {% for league in hockey %}
            <li>{{league.name}}</li>
        {% empty %}
            <p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
        {% endfor %}
    </ol>
    <h2>Not Football Leagues</h2>
    <ol>
        {% for league in football %}
            <li>{{league.name}}</li>
        {% empty %}
            <p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
        {% endfor %}
    </ol>
    <h2>Conferences in Leagues</h2>
    <ol>
        {% for league in conferences %}
            <li>{{league.name}}</li>
        {% empty %}
            <p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
        {% endfor %}
    </ol>
    <h2>Leagues in Atlantic Region</h2>
    <ol>
        {% for league in atlantic %}
            <li>{{league.name}}</li>
        {% empty %}
            <p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
        {% endfor %}
    </ol>
    <h2>Teams in Dallas</h2>
    <ol>
        {% for team in dallas %}
            <li>{{team.team_name}}</li>
        {% empty %}
            <p>No Teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
        {% endfor %}
    </ol>

    <h2>Teams Named Raptors</h2>
    <ol>
        {% for team in raptors %}
            <li>{{team.location}} {{team.team_name}}</li>
        {% empty %}
            <p>No Teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
        {% endfor %}
    </ol>
    <h2>Teams with "City" in Location</h2>
    <ol>
        {% for team in city %}
            <li>{{team.team_name}}</li>
        {% empty %}
            <p>No Teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
        {% endfor %}
    </ol>
    <h2>Teams That Begin with T</h2>
    <ol>
        {% for team in t %}
            <li>{{team.team_name}}</li>
        {% empty %}
            <p>No Teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
        {% endfor %}
    </ol>
    <h2>Teams Location alphabetical</h2>
    <ol>
        {% for team in abc %}
            <li>{{team.location}} {{team.team_name}}</li>
        {% empty %}
            <p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
        {% endfor %}
    </ol>
    <h2>Teams Reverse</h2>
    <ol>
        {% for team in reversecba %}
            <li>{{team.location}} {{team.team_name}}</li>
        {% empty %}
            <p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
        {% endfor %}
    </ol>
    <h2>Players</h2>
    <ol>
        {% for player in players %}
            <li>{{player.first_name}} {{player.last_name}}</li>
        {% empty %}
            <p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
        {% endfor %}
    </ol>

    <h1>Teams Location alphabetical</h1>
    <ol>
        {% for team in abc %}
            <li>{{team.location}} {{team.team_name}}</li>
        {% empty %}
            <p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
        {% endfor %}
    </ol>
    <h1>Teams Reverse</h1>
    <ol>
        {% for team in reversecba %}
            <li>{{team.location}} {{team.team_name}}</li>
        {% empty %}
            <p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
        {% endfor %}
    </ol>
    <h1>Players</h1>
    <ol>
        {% for player in players %}
            <li>{{player.first_name}} {{player.last_name}}</li>
        {% empty %}
            <p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
        {% endfor %}
    </ol>
    <h1>Last name Cooper</h1>
    <ol>
        {% for player in lastcoop %}
            <li>{{player.first_name}} {{player.last_name}}</li>
        {% empty %}
            <p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
        {% endfor %}
    </ol>
    <h1>First name Josh</h1>
    <ol>
        {% for player in firstjosh %}
            <li>{{player.first_name}} {{player.last_name}}</li>
        {% empty %}
            <p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
        {% endfor %}
    </ol>
    <h1>Cooper NOT Josh</h1>
    <ol>
        {% for player in notname %}
            <li>{{player.first_name}} {{player.last_name}}</li>
        {% empty %}
            <p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
        {% endfor %}
    </ol>
    <h1>Alex or Wyatt</h1>
    <ol>
        {% for player in orname %}
            <li>{{player.first_name}} {{player.last_name}}</li>
        {% empty %}
            <p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
        {% endfor %}
    </ol>

    <h2>Level 2 Queries</h2>
    
</body>
</html>